.input {
  margin-top: 20%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  background-color: green;
  border-radius: 10px;
  color: white;
}
.delete {
  margin-top: 10px;
  margin-left: 10px;
  background-color: red;
}
